@model CodeTheWay.Web.Ui.Models.Student
@*
    ViewData["Title"] = "Details";
*@
<h1>Details</h1>
<p>First Name:  @Model.FirstMidName</p>
<p>Last Name:  @Model.LastName</p>
<div>
    <a asp-action="Index">Back to List</a>
</div>
