@model CodeTheWay.Web.Ui.Models.ViewModels.ShippingContainerRegistrationViewModel
@*
    ViewData["Title"] = "Details";
*@
<h1>Details</h1>
<p>First Name:  @Model.Name</p>
<p>Age: @Model.Age</p>
<div>
    <a asp-action="Index">Back to List</a>
</div>
