@model CodeTheWay.Web.Ui.Models.ViewModels.ShippingContainerRegisterViewModel
@*
    ViewData["Title"] = "Details";
*@
<h1>Details</h1>
<p>First Name:  @Model.Weight</p>
<p>Last Name:  @Model.Destination</p>
<div>
    <a asp-action="Index">Back to List</a>
</div>
