@model List<CodeTheWay.Web.Ui.Models.ShippingContainer>
@*
    ViewData["Title"] = "Index";
*@
<h1>Index</h1>
<div>
    <table>
        <tr>
            <th>
                Name
            </th>
        </tr>
    </table>
</div>
<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <div>
                    <div>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    </div>
                </div>
                <div>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </div>
                <div>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </div>
            </td>
        </tr>
    }
</table>
<div>
    <a asp-action="Create">Create a shipping container.</a>
</div>